<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.urbanairship.reactnative">

    <application>
        <meta-data
            android:name="com.urbanairship.autopilot"
            android:value="com.urbanairship.reactnative.ReactAutopilot" />
    </application>
</manifest>
