<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbanairship.reactnative">
    <application>

      <meta-data android:name="com.urbanairship.autopilot"
                android:value="com.urbanairship.reactnative.ReactAutopilot"/>

        <receiver
            android:name="com.urbanairship.reactnative.ReactAirshipReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.RECEIVED" />
                <action android:name="com.urbanairship.push.DISMISSED" />
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.urbanairship.reactnative.CustomMessageCenterActivity"
            android:label="@string/ua_message_center_title"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_INBOX" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.urbanairship.reactnative.CustomMessageActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_MESSAGE" />
                <data android:scheme="message"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.urbanairship.reactnative.CustomLandingPageActivity"
            android:exported="false"
            android:theme="@style/LandingPageStyle">
            <meta-data android:name="com.urbanairship.action.LANDING_PAGE_VIEW"
                android:resource="@layout/ua_activity_landing_page"/>
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW"
                android:value="true"/>
            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="message"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            xmlns:tools="http://schemas.android.com/tools"
            tools:node="remove"
            android:name="com.urbanairship.actions.LandingPageActivity" />

    </application>
</manifest>
